body {
    padding: 20;
    margin: 0;
}

.escenario {
    margin: 10px 0px;
    border: 1px solid #ccc;
    padding: 10px;
}

.escenario-1 {
    width: 100%;
}

.escenario-2 {
    width: 50%;
}

.px {
    background-color: green;
    width: 200px; /* pixeles fijos lo veas donde lo veas */
}

.porcentaje {
    background-color: red;
    width: 50%; /* al 50% del elemento padre, en este caso el div */
}

.view {
    background-color: yellow;
    width: 50vw; /* "vw", view width, al 50% del ancho de pantalla, 
    existe "vh", view height, que se refiere a la altura de la pantalla */
}
