.flex {
    display: flex; /* el eje principal es el horizontal */
    flex-direction: column; 
    background-color: yellow;
    height: 300px;
    justify-content: space-around;
    align-items: flex-end;
    /* flex-wrap: wrap; wrap o nowrap para redimensionar o no */
}

.contenido-1 {
    background-color: white;
    /*height: 200px;*/
    width: 100px;
    border: 1px solid blue;
    /*align-self: flex-start;*/
}

.contenido-2 {
    background-color: white;
    /*height: 200px;*/
    width: 100px;
    border: 1px solid blue;
}

.contenido-3 {
    background-color: white;
    /*height: 200px;*/
    width: 100px;
    border: 1px solid blue;
}